body{
    background-color: blue;
    background-image: url(https://res.cloudinary.com/dnjpmdspg/image/upload/v1671333264/wallpaperflare.com_wallpaper_7_rt1s2v.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}
td{
    color: white;
}
img{
    border-radius: 50%;
    
}

